body {
    display: flex; 
    flex-direction: column;
    margin-top: 50px;
}

header {
    height: 300px; 
    margin-top: 50px; 
    padding-top: 100px; 
    background-image: url('../assets/team_victory.jpg'); 
    background-position: center; 
    background-repeat: no-repeat;
}

.navbar-brand {
    padding-left: 50px;
    padding-right: 50px;
}

.sponsor-name {
    text-align: right; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sponsor-logo {
    text-align: left;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sponsor-logo img {
    max-width: 300px;
    max-height: 400px;
}